/* banner design css here */
.banner {
    width: 100%;
    height: 70vh;
}

.shadow {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}

.banner-head {
    color: #fff;
    margin-left: 50px;
    margin-top: 5em;
    font-weight: 900;
    font-size: 40px;
}

.banner-des {
    color: #fff;
    width: 400px;
    margin-left: 50px;
}

.play-button {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 0.4em;
    width: 80px;
    height: 30px;
    font-weight: 900;
    margin-top: 20px;
}
.play-button:hover{
    background-color: black;
    color: #fff;
    border: 1px solid;
}
.mylist-button{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: grey;
}
.mylist-button:hover{
    background-color: black;
    color: #fff;
    border: 1px solid;
}

/* designing mylist component */



.list-div {
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;

}

.list-image {
    max-height: 300px;
    height: 250px;
    margin-left: 15px;

}
.down-list{
   margin-left: 15px;
    max-height: 150px;

    margin-bottom: 40px;
}

.list-title {
    color: white;
    margin-left: 40px;
    
}

.list-div::-webkit-scrollbar {
    display: none;
}